{styleTag -> f:format.raw()}
{scriptTag -> f:format.raw()}
<script type="text/javascript">
  var settings = {settings -> f:format.raw()};

  <![CDATA[ settings.onInitialise = function (status) {
    var type = this.options.type;
    var didConsent = this.hasConsented();

    if (type == 'opt-in' && didConsent) {
      var data = {detail: 'enable'}
    } else if (type == 'opt-out' && !didConsent) {
      var data = {detail: 'disable'}
    }

    document.dispatchEvent(new CustomEvent('CookieConsent.Change', data))
  }

  settings.onStatusChange = function(status, chosenBefore) {
    var type = this.options.type;
    var didConsent = this.hasConsented();

    if (type == 'opt-in' && didConsent) {
      var data = {detail: 'enable'}
    } else if (type == 'opt-out' && !didConsent) {
      var data = {detail: 'disable'}
    }

    document.dispatchEvent(new CustomEvent('CookieConsent.Change', data))
  }

  settings.onRevokeChoice = function() {
    var type = this.options.type;

    if (type == 'opt-in') {
      var data = {detail: 'disable'}
    } else if (type == 'opt-out') {
      var data = {detail: 'enable'}
    }

    document.dispatchEvent(new CustomEvent('CookieConsent.Change', data))
  }

  window.addEventListener('load', function (event) {
    window.cookieconsent.initialise(settings);
  }) ]]>
</script>
