{styleTag -> f:format.raw()}
{scriptTag -> f:format.raw()}
<script type="text/javascript">
  var settings = {settings -> f:format.raw()};

  <![CDATA[ settings.onInitialise = function (status) {
    var type = this.options.type;
    var didConsent = this.hasConsented();

    document.dispatchEvent(new CustomEvent('CookieConsent.Change', {
      detail: (type == 'opt-in' && didConsent)
    }))
  }

  settings.onStatusChange = function(status, chosenBefore) {
    var type = this.options.type;
    var didConsent = this.hasConsented();

    document.dispatchEvent(new CustomEvent('CookieConsent.Change', {
      detail: (type == 'opt-in' && didConsent)
    }))
  }

  settings.onRevokeChoice = function() {
    var type = this.options.type;

    document.dispatchEvent(new CustomEvent('CookieConsent.Change', {
      detail: (type == 'opt-in')
    }))
  }

  window.addEventListener('load', function (event) {
    window.cookieconsent.initialise(settings);
  }) ]]>
</script>
